<nav class="absolute top-0 z-30 flex flex-wrap items-center justify-between w-full px-4 py-2 mt-6 mb-4 shadow-none lg:flex-nowrap lg:justify-start">
  <div class="container flex items-center justify-between py-0 flex-wrap-inherit">
    <a class="py-2.375 text-size-sm mr-4 ml-4 whitespace-nowrap font-bold text-white lg:ml-0" href="/"> Soft UI Dashboard </a>
    <button navbar-trigger class="px-3 py-1 ml-2 leading-none transition-all bg-transparent border border-transparent border-solid rounded-lg shadow-none cursor-pointer text-size-lg ease-soft-in-out lg:hidden" type="button" aria-controls="navigation" aria-expanded="false" aria-label="Toggle navigation">
      <span class="inline-block mt-2 align-middle bg-center bg-no-repeat bg-cover w-6-em h-6-em bg-none">
        <span bar1 class="w-5.5 rounded-xs duration-350 relative my-0 mx-auto block h-px bg-white transition-all"></span>
        <span bar2 class="w-5.5 rounded-xs mt-1.75 duration-350 relative my-0 mx-auto block h-px bg-white transition-all"></span>
        <span bar3 class="w-5.5 rounded-xs mt-1.75 duration-350 relative my-0 mx-auto block h-px bg-white transition-all"></span>
      </span>
    </button>
    <div navbar-menu class="items-center flex-grow transition-all ease-soft duration-350 lg-max:bg-white lg-max:max-h-0 lg-max:overflow-hidden basis-full rounded-xl lg:flex lg:basis-auto">

      <ul class="flex flex-col pl-0 mx-auto mb-0 list-none lg:flex-row xl:ml-auto">
        <li>
          <a class="block px-4 py-2 mr-2 font-normal text-white transition-all duration-250 lg-max:opacity-0 lg-max:text-slate-700 ease-soft-in-out text-size-sm lg:px-2 lg:hover:text-white/75" 
             href="{{ url_for('authentication_blueprint.register') }}">
            <i class="mr-1 text-white lg-max:text-slate-700 fas fa-user-circle opacity-60"></i>
            Sign UP
          </a>
        </li>
        <li>
          <a class="block px-4 py-2 mr-2 font-normal text-white transition-all duration-250 lg-max:opacity-0 lg-max:text-slate-700 ease-soft-in-out text-size-sm lg:px-2 lg:hover:text-white/75" 
             href="{{ url_for('authentication_blueprint.login') }}">
            <i class="mr-1 text-white lg-max:text-slate-700 fas fa-key opacity-60"></i>
            Sign IN
          </a>
        </li>
      </ul>
      <!-- online builder btn  -->
      <ul class="hidden pl-0 mb-0 list-none lg:block lg:flex-row">
        <li>
          <a href="https://appseed.us/product/soft-dashboard-tailwind/flask/" 
             target="_blank" 
             class="leading-pro hover:scale-102 hover:shadow-soft-xs active:opacity-85 ease-soft-in text-size-xs tracking-tight-soft shadow-soft-md bg-gradient-gray rounded-3.5xl mb-0 mr-1 inline-block cursor-pointer border-0 bg-transparent px-8 py-2 text-center align-middle font-bold uppercase text-slate-800 transition-all">
             Download</a>
        </li>
      </ul>
      
    </div>
  </div>
</nav> 
