  <!-- plugin for scrollbar  -->
  <script src="{{ config.ASSETS_ROOT }}/js/plugins/perfect-scrollbar.min.js" async></script>
  <script src="{{ config.ASSETS_ROOT }}/js/sidenav-burger.js" async></script>
  <script src="{{ config.ASSETS_ROOT }}/js/dropdown.js" async></script>
  <script src="{{ config.ASSETS_ROOT }}/js/nav-pills.js" async></script>
  <script src="{{ config.ASSETS_ROOT }}/js/fixed-plugin.js" async></script>

  <!-- github button -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>
  